//- include ../blocks/header/nav/nav.jade
-
	var navItems = [
	{name: "Home", href: "/"},
	{name: "Games", href: "games.html"},
	{name: "Account", href: "account.html"},
	{name: "Live Casino", href: "live-casino.html"},
	{name: "Sports", href: "sports.html"},
	{name: "Live Sports", href: "live-sports.html"},
	{name: "Virtual Sports", href: "virtual-sports.html"},
	{name: "Lottery", href: "lottery.html"},
	{name: "Promotions", href: "promotions.html"},
	{name: "VIP", href: "vip.html"},
	{name: "Banking", href: "banking.html"}]
	
mixin nav(loggedIn, activeNumber)
	ul.nav
		each item, index in navItems
			if item.name == "Account"
				if loggedIn
					if index === activeNumber - 1
						a.nav__link.nav__link--active(href= item.href)
							li.nav__item= item.name
					else
						a.nav__link(href= item.href)
							li.nav__item= item.name
				else
					a.nav__link.nav__link--closed(href= item.href)
						li.nav__item= item.name
			else
				if index === activeNumber - 1
					a.nav__link.nav__link--active(href= item.href)
						li.nav__item= item.name
				else
					a.nav__link(href= item.href)
						li.nav__item= item.name
		//- a.nav__link(href="#")
		//- 	li 
		//- 		block lang
		//- 			include ../lang/lang.jade
