-
	var promoAll = [
	{name: "Welcome Bonus", type: "Welcome Promotions"},
	{name: "Easy Monday", type: "Limited Promotions"},
	{name: "Historical Tuesday", type: "Limited Promotions"},
	{name: "Musical Wednesday", type: "Limited Promotions"},
	{name: "Mystery Thursday", type: "Limited Promotions"},
	{name: "Space Friday", type: "Limited Promotions"},
	{name: "Weekend Party", type: "Limited Promotions"},
	{name: "Jimi Hendrix Free Spins!", type: "Limited Promotions"},
	{name: "First deposit bonus 150%", type: "Classic Promotions"}
	]
-
	var promoLimited = [
	{name: "Welcome Bonus", src: "img/promotions/promotion-1.png", text: "Take part in “Easy Monday” promotion with the bonus of 70% and get up to €700 of bonus money! Before you start playing with this bonus, please get familiar with all the Terms and Conditions of this bonus:", advanced: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."},
	{name: "Easy Monday", src: "img/promotions/promotion-2.png", text: "Take part in “Easy Monday” promotion with the bonus of 70% and get up to €700 of bonus money! Before you start playing with this bonus, please get familiar with all the Terms and Conditions of this bonus:", advanced: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."},
	{name: "Historical Tuesday", src: "img/promotions/promotion-3.png", text: "Take part in “Easy Monday” promotion with the bonus of 70% and get up to €700 of bonus money! Before you start playing with this bonus, please get familiar with all the Terms and Conditions of this bonus:", advanced: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."}
	]
-
	var promoWelcome = [
	{name: "Welcome Bonus", src: "img/promotions/promotion-4.png", text: "Take part in “Easy Monday” promotion with the bonus of 70% and get up to €700 of bonus money! Before you start playing with this bonus, please get familiar with all the Terms and Conditions of this bonus:", advanced: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."},
	{name: "Easy Monday", src: "img/promotions/promotion-3.png", text: "Take part in “Easy Monday” promotion with the bonus of 70% and get up to €700 of bonus money! Before you start playing with this bonus, please get familiar with all the Terms and Conditions of this bonus:", advanced: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."},
	{name: "Historical Tuesday", src: "img/promotions/promotion-5.png", text: "Take part in “Easy Monday” promotion with the bonus of 70% and get up to €700 of bonus money! Before you start playing with this bonus, please get familiar with all the Terms and Conditions of this bonus:", advanced: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."}
	]
-
	var promoClassic = [
	{name: "Welcome Bonus", src: "img/promotions/promotion-6.png", text: "Take part in “Easy Monday” promotion with the bonus of 70% and get up to €700 of bonus money! Before you start playing with this bonus, please get familiar with all the Terms and Conditions of this bonus:", advanced: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."},
	{name: "Easy Monday", src: "img/promotions/promotion-8.png", text: "Take part in “Easy Monday” promotion with the bonus of 70% and get up to €700 of bonus money! Before you start playing with this bonus, please get familiar with all the Terms and Conditions of this bonus:", advanced: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."},
	{name: "Historical Tuesday", src: "img/promotions/promotion-7.png", text: "Take part in “Easy Monday” promotion with the bonus of 70% and get up to €700 of bonus money! Before you start playing with this bonus, please get familiar with all the Terms and Conditions of this bonus:", advanced: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."}
	]
.promo
	h2.promo__title All Promotions
	ul.promoAll.open(data-type="all")
		each item, index in promoAll
			li.promoAll__item
				img.promoAll__img(src="img/promotions/promotion-#{index+1}.png" alt="")
				p.promoAll__name= item.name
				p.promoAll__type= item.type
	ul.promoLimited(data-type="limited")
		each item, index in promoLimited
			li.promoLimited__item
				.promoLimited__left
					img.promoLimited__img(src=item.src alt="")
				.promoLimited__right
					h3.promoLimited__title= item.name
					p.promoLimited__text!= item.text
					p.promoLimited__advanced!= item.advanced
					a.promoLimited__more Read more
	ul.promoWelcome(data-type="welcome")
		each item, index in promoWelcome
			li.promoWelcome__item
				.promoWelcome__left
					img.promoWelcome__img(src=item.src alt="")
				.promoWelcome__right
					h3.promoWelcome__title= item.name
					p.promoWelcome__text!= item.text
					p.promoWelcome__advanced!= item.advanced
					a.promoWelcome__more Read more
	ul.promoClassic(data-type="classic")
		each item, index in promoClassic
			li.promoClassic__item
				.promoClassic__left
					img.promoClassic__img(src=item.src alt="")
				.promoClassic__right
					h3.promoClassic__title= item.name
					p.promoClassic__text!= item.text
					p.promoClassic__advanced!= item.advanced
					a.promoClassic__more Read more
