-
	var promoWelcome = [
	{name: "Welkome bonus 200%!", text: "Get an advantage of our exclusive WELCOME bonus of 200% for any deposit amount and get up to €2000 of bonus money to increase your chances to win big!"},
	{name: "Bonus on the very first deposit 150%", text: "You're in our casino for the first time? So hurry up to register than! BOSS Casino offers 150% bonus for all new players on their very first deposit"},
	{name: "Summer Fishing", text: "And here is our long expected summer! It means it is time to grab your spinning rods and go fishing!"},
	{name: "Fabulous Tuesday", text: "Everyone probably had a childhood dream of getting into a fairytale world. Today you have such an opportunity!"}
	]
-
	var promoAll = [
	{name: "Welcome Bonus", src: "img/promotions/promotion-1.png", text: "Take part in “Easy Monday” promotion with the bonus of 70% and get up to €700 of bonus money! Before you start playing with this bonus, please get familiar with all the Terms and Conditions of this bonus:", advanced: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."},
	{name: "Easy Monday", src: "img/promotions/promotion-2.png", text: "Take part in “Easy Monday” promotion with the bonus of 70% and get up to €700 of bonus money! Before you start playing with this bonus, please get familiar with all the Terms and Conditions of this bonus:", advanced: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."}
	]
.promo
	h2.promo__title Welcome Promotions
	ul.promoBig.open(data-type="big")
		each item, index in promoWelcome
			li.promoBig__item
				img.promoBig__img(src="img/promotions/promotion-#{index+1}.png" alt="")
				p.promoBig__name= item.name
				p.promoBig__text= item.text
				a.promoBig__more Read more
	h2.promo__title All Bonuses
	ul.promoAll.open(data-type="all")
		each item, index in promoAll
			li.promoAll__item
				.promoAll__left
					img.promoAll__img(src=item.src alt="")
				.promoAll__right
					h3.promoAll__title= item.name
					p.promoAll__text= item.text
					p.promoAll__advanced= item.advanced
					a.promoAll__more Read more
	.promoBonus
		h2.promo__title.bonus Welcome Bonus 200%!
		.promoBonus__item
			img.promoBonus__img(src='img/promotions/promotion-1.png' alt='')
			.promoBonus__right
				p.promoBonus__header Get an advantage of our exclusive WELCOME bonus of 200% for any deposit amount and get up to €2000 of bonus money to increase your chances to win big!
				p.promoBonus__text Before you start to play with this bonus, please get familiar with all the terms and conditions of this bonus:
		p.promoBonus__info
			|The bonus code is "WELCOME".
			br
			|The minimum deposit amount to get this bonus is €20. The bonus is 200% but not more than €2000.
			br
			|Wagering* is x40 times of the bonus amount.
			br
			|The maximum cashout is x20 times of the deposit amount.
			br
			|WELCOME bonus is available for all our players until they play with it (it is not necessary to use this bonus on the very first deposit).
			br
			|You can use WELCOME bonus only once.
		p.promoBonus__star
			|*To get more detailed information about bonus restrictions you can in 
			a.promoBonus__link bonuses Terms and Conditions.
		button.promoBonus__button More bonuses
