//- include ../blocks/index/jackpots/jackpots.jade
-
	var jackpotItems = [
	{cash: "€ 5,228,81", game: "4 of King", open: true}, 
	{cash: "€ 5,100,12", game: "Steam Tower", open: true}, 
	{cash: "€ 10,100,12", game: "The Dark Knight", open: true}, 
	{cash: "€ 7,999,34", game: "Ghost Pirates", open: true}, 
	{cash: "€ 5,999,34", game: "The Dark Knight", open: true},
	{cash: "€ 5,999,34", game: "The Dark Knight", open: false},
	{cash: "€ 5,999,34", game: "The Dark Knight", open: false}]
section.jackpot
	.container.wide
		.jackpot__flexbox
			.jackpot__item(href="game.html") Jackpots: 
			each item, index in jackpotItems
				if item.open 
					a.jackpot__item(href="game.html")
						img.jackpot__img(src='img/jackpot/jackpot-#{index+1}.png', alt='')
						p.jackpot__text
							span.jackpot__cash= item.cash
							span.jackpot__game= item.game
				else 
					a.jackpot__item.closed(href="game.html")
						img.jackpot__img(src='img/jackpot/jackpot-#{index+1}.png', alt='')
						p.jackpot__text
							span.jackpot__cash= item.cash
							span.jackpot__game= item.game
